<div>
    <app-breadcrumb></app-breadcrumb>
    <h1>Empresas</h1>
    <div class="separator"></div>
    <app-grid [columns]="columns" [data]="result" btnLabel="Adicionar Empresa" (btnClick)="newCompany($event)">
        <ng-template #optionsTemplate>
            <div class="d-flex">
                <button class="btn btn-outline-primary">A</button>
                <button class="btn btn-outline-primary">B</button>
            </div>
        </ng-template>
    </app-grid>
</div>
