

<div>
    <app-breadcrumb *ngIf="!sucursal"></app-breadcrumb>
    <h1 *ngIf="!sucursal">Cadastro de Empresas</h1>
    <h1 *ngIf="sucursal">Cadastro de Sucursal</h1>
    <div class="separator"></div>
    <div class="container-table">

        <form [formGroup]="cnpjSearch" (ngSubmit)="searchCNPJ()">
            <div class="cnpj-group">
                <input class="cnpj-input" placeholder="Pesquise pelo CNPJ" type="text" name="cnpj" formControlName="cnpj" />
                <button type="submit" class="submit-cnpj">
                    <svg xmlns="http://www.w3.org/2000/svg" class="search-icon" width="20" viewBox="0 0 24 24" fill="#FFF" id="magnify"><path d="M9.5 3A6.5 6.5 0 0116 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 019.5 16a6.5 6.5 0 110-13m0 2C7 5 5 7 5 9.5S7 14 9.5 14 14 12 14 9.5 12 5 9.5 5z"></path></svg>
                </button>
            </div>       
        </form>
        
        <div class="separator"></div>
        
        <aw-wizard class="navigation" navBarLayout="large-empty-symbols" *ngIf="stepTwo" [awNavigationMode] navigateBackward="allow" navigateForward="allow">
            <form [formGroup]="form" (ngSubmit)="save()">
                <aw-wizard-step stepTitle="Dados da Empresa" [navigationSymbol]="{ symbol: '&#xe7ef;', fontFamily: 'Material Icons' }">
                    <div class="separator"></div>
                    <!--STEP 1-->
                        <div class="form-group-planetun" style="width: 200px;">
                            <label for="companyStatus">Status</label>
                            <select name="companyStatus" formControlName="companyStatus">
                                <option value="0">Ativo</option>
                                <option value="1">Cancelada</option>
                            </select>
                        </div>
                        <div class="form-group-planetun">
                            <label for="cnpj">CNPJ</label>
                            <input readonly class="readonly" type="text" name="cnpj" formControlName="cnpj" />
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group-planetun">
                                    <label for="companyName">Razão Social</label>
                                    <input readonly class="readonly" type="text" name="companyName" formControlName="companyName" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group-planetun">
                                    <label for="fantasyName">Nome Fantasia</label>
                                    <input type="text" name="fantasyName" formControlName="fantasyName" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group-planetun">
                                    <label for="municipalRegistration">Inscrição Municipal</label>
                                    <input type="text" name="municipalRegistration" formControlName="municipalRegistration" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group-planetun">
                                    <label for="stateRegistration">Inscrição Estadual</label>
                                    <input type="text" name="stateRegistration" formControlName="stateRegistration" />
                                </div>
                            </div>
                        </div>
                        <div formGroupName="companyAddress">
                            <div class="form-group-planetun">
                                <label for="zipCode">CEP</label>
                                <input readonly class="readonly" type="text" name="zipCode" formControlName="zipCode" />
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group-planetun">
                                        <label for="street">Endereço</label>
                                        <input readonly class="readonly" type="text" name="street" formControlName="street" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group-planetun">
                                        <label for="number">Número</label>
                                        <input readonly class="readonly" type="text" name="number" formControlName="number" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-planetun">
                                <label for="complement">Complemento</label>
                                <input readonly class="readonly" type="text" name="complement" formControlName="complement" />
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group-planetun">
                                        <label for="neighborhood">Bairro</label>
                                        <input readonly class="readonly" type="text" name="neighborhood" formControlName="neighborhood" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group-planetun">
                                        <label for="city">Cidade</label>
                                        <input readonly class="readonly" type="text" name="city" formControlName="city" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-planetun">
                                <label for="state">Estado</label>
                                <input readonly class="readonly" type="text" name="state" formControlName="state" />
                            </div>
                            <div class="form-group-planetun">
                                <label for="contry">Pais</label>
                                <input readonly class="readonly" type="text" name="contry" formControlName="country" />
                            </div>
                        </div>
                        
                        <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
                    <!--STEP 1-->
                </aw-wizard-step>
                <aw-wizard-step stepTitle="Dados Adicionais" awOptionalStep
                    [navigationSymbol]="{ symbol: '&#xe57d;', fontFamily: 'Material Icons' }">
                    <!--STEP 2-->
                        <div class="separator"></div>

                        <div class="form-group-planetun">
                            <div class="inputs">
                                <input type="checkbox" formControlName="isServiceStation" id="isServiceStation" name="isServiceStation">
                                <label for="isServiceStation">É um posto de atendimento?</label>
                            </div>
                        </div>

                        <div class="form-group-planetun">
                            <label for="companyStatus">Tipo de Entidade</label>
                            <div class="inputs">
                                <input type="checkbox" formControlName="isClient" id="isClient" name="isClient">
                                <label for="isClient">Cliente</label>

                                <input type="checkbox" formControlName="isProvider" id="isProvider" name="isProvider">
                                <label for="isProvider">Prestador</label>
                            </div>
                        </div>

                        <div class="form-group-planetun"  formGroupName="providerCompany" *ngIf="f.isProvider.value">
                            <label for="companyStatus">Tipo de Prestador</label>
                            <div class="inputs">
                                <input type="checkbox" formControlName="externalPresence" id="externalPresence" name="externalPresence">
                                <label for="externalPresence">Presencial Externo</label>

                                <input type="checkbox" formControlName="internalClassroom" id="internalClassroom" name="internalClassroom">
                                <label for="internalClassroom">Presencial Interno</label>

                                <input type="checkbox" formControlName="mobile" id="mobile" name="mobile">
                                <label for="mobile">Mobile</label>
                            </div>

                            <label for="companyStatus">Segmento do Veículo</label>
                            <div class="inputs">
                                <input type="checkbox" formControlName="vehicleSegment" id="vehicleSegment" name="vehicleSegment">
                                <label for="vehicleSegment">Leve</label>

                                <input type="checkbox" formControlName="truckSegment" id="truckSegment" name="truckSegment">
                                <label for="truckSegment">Pesado</label>

                                <input type="checkbox" formControlName="motorcycleSegment" id="motorcycleSegment" name="motorcycleSegment">
                                <label for="motorcycleSegment">Motocicleta</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <div class="form-group-planetun">
                                    <label for="phone">Telefone</label>
                                    <input type="text" name="phone" formControlName="phone" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group-planetun">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" formControlName="email" />
                                </div>
                            </div>
                        </div>
                        <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
                    <!--STEP 2-->
                </aw-wizard-step>
                <aw-wizard-step stepTitle="Dados Bancários" awOptionalStep
                    [navigationSymbol]="{ symbol: '&#xe531;', fontFamily: 'Material Icons' }">
                    <!--STEP 3 -->
                        <div class="separator"></div>
                        <div formGroupName="bankAccount">
                            <div class="form-group-planetun" style="width: 200px;">
                                <label for="bankAccountType">Tipo de Conta</label>
                                <select name="bankAccountType" formControlName="bankAccountType">
                                    <option value="0">Conta Corrente</option>
                                </select>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group-planetun">
                                        <label for="bankName">Banco</label>
                                        <input type="text" name="bankName" formControlName="bankName" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                
                                <div class="col">
                                    <div class="form-group-planetun">
                                        <label for="agency">Agência</label>
                                        <input type="text" name="agency" formControlName="agency" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group-planetun">
                                        <label for="email">Conta Corrente</label>
                                        <input type="text" name="checkingAccount" formControlName="checkingAccount" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!--STEP 3-->
                    <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
                </aw-wizard-step>
                <aw-wizard-step *ngIf="!sucursal" stepTitle="Sucursal" awOptionalStep
                    [navigationSymbol]="{ symbol: '&#xe531;', fontFamily: 'Material Icons' }">
                    <!--STEP 4 -->
                        <div class="separator"></div>
                        <app-grid [columns]="columns" [data]="sucursalList" btnLabel="Adicionar Sucursal" (btnClick)="openModal()"></app-grid>
                    <!--STEP 4-->
                    <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
                </aw-wizard-step>

                <aw-wizard-step *ngIf="f.isServiceStation.value" stepTitle="Região de Atendimento" awOptionalStep
                    [navigationSymbol]="{ symbol: '&#xe531;', fontFamily: 'Material Icons' }">
                    <!--STEP 5 -->
                        <div class="separator"></div>
                        <label class="info">Seleciona as regiões para atendimento</label>
                    <!--STEP 5-->
                    <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
                </aw-wizard-step>
                
            </form>

            <ng-template #controlButtons let-last="last" let-first="first">
                <hr>
                <div class="d-flex justify-content-between my-2">
                    <button class="btn btn-outline-danger btn-style-planetun" type="button" [class.hide]="first" awPreviousStep>Voltar</button>
                    <button type="submit" class="send-button" value="Enviar">Salvar Empresa</button>
                    <button class="btn btn-outline-primary btn-style-planetun" type="button" *ngIf="!last" awNextStep>Próximo</button>   
                </div>
            </ng-template>
        </aw-wizard>  
    </div>
</div>
