@import "../../../../../../assets/styles/colors";

.cnpj-group{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

form{
    width: 100%;
}

.navigation{
    margin-top: 20px;
}

.cnpj-input{
    width: 400px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins";
    transition: all 0.3s ease-in-out;
    font-size: 18px;
}

.cnpj-input:focus { 
    outline: none;
    border-color: $primary-light;
    box-shadow: 0 0 10px $primary-light;
}

.submit-cnpj{
    border: none;
    border-radius: 0px 15px 15px 0px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins";
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    background: rgb(252,137,25);
    background: linear-gradient(93deg, rgba(252,137,25,1) 0%, rgba(254,98,12,1) 100%);
    text-align: center;
}

.form-group-planetun{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-group-planetun label{
    color: #8b8b8b;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 500;
}

.form-group-planetun input{
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    font-family: "Poppins";
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    color: #00587C;
}

.form-group-planetun select{
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    font-family: "Poppins";
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    color: #00587C;
}

.readonly{
    background-color: #eeeeee;
}

aw-wizard-navigation-bar ul.steps-indicator li a .label{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
}

.fixed-bottom-form{
    background-color: #FFF;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0px;   
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.container-table{
    padding-bottom: 50px;
}

.send-button{
    float: right;
}

.hide{
    display: none;
}

.inputs label{
    margin-right: 20px;
    margin-left: 5px;
    font-size: 13px;
    color: #000;
    text-transform: capitalize;
}

.info{
    color: #8b8b8b;
    font-size: 13px;
    font-family: "Poppins";
    font-weight: 500;
    margin-top: 20px;
}