<div [formGroup]="form">
    <app-breadcrumb></app-breadcrumb>
    <h1>Nova Regra de Distribuição</h1>
    <div class="separator"></div>
    <aw-wizard navBarLayout="large-empty-symbols" [awNavigationMode] navigateBackward="allow" navigateForward="allow">
        <aw-wizard-step stepTitle="Prestador" [navigationSymbol]="{ symbol: '&#xe7ef;', fontFamily: 'Material Icons' }">
            <h2>Tipo de Vistoria</h2>
            <p class="text-muted">
                Escolha o tipo de vistoria desejado para a aplicação da regra. Você pode optar por apenas
                Presencial, apenas Remoto ou os dois tipos.
            </p>
            <div class="types-card-container my-4">
                <label class="card" [class.active]="type.selected" *ngFor="let type of inspectionTypes"
                    (click)="toggleInspectionType(type)">
                    <div>
                        <i class="material-icon material-icons-outlined">{{ type.icon }}</i>
                    </div>
                    <h3>{{ type.label }}</h3>
                </label>
            </div>
            <hr>
            <h2>Prestador</h2>
            <p class="text-muted">
                Aqui você pode selecionar o(s) prestador(es) para modalidades Presencial e Remoto.
            </p>
            <app-selectable-table formControlName="providers" [columns]="providersListColumns" [data]="providersList"
                [multiple]="true"></app-selectable-table>
            <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Quantidade" awOptionalStep
            [navigationSymbol]="{ symbol: '&#xe57d;', fontFamily: 'Material Icons' }">
            <h2>Quantidade</h2>
            <alert type="primary" class="my-3">
                <strong>Dica!</strong> Caso não queira habilitar as regras de quantidade, basta deixar os campos em
                branco, então a distribuição será feita de forma automática.
            </alert>

            <h5>Seleciona a quantidade por prestador na modalidade:</h5>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <label>Presencial Interno</label>
                    <input type="number" min="0" formControlName="quantityMobile" class="form-control" placeholder="Automático">
                </div>
                <div class="col-12 col-sm-4">
                    <label>Presencial Externo</label>
                    <input type="number" min="0" formControlName="quantityPresentialExternal" class="form-control" placeholder="Automático">
                </div>
                <div class="col-12 col-sm-4">
                    <label>Mobile</label>
                    <input type="number" min="0" formControlName="quantityPresentialInternal" class="form-control" placeholder="Automático">
                </div>
            </div>
            <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Região" awOptionalStep
            [navigationSymbol]="{ symbol: '&#xe55f;', fontFamily: 'Material Icons' }">
            <app-localization [form]="form.controls.localization"></app-localization>
            <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Segmento do Veículo" awOptionalStep
            [navigationSymbol]="{ symbol: '&#xe531;', fontFamily: 'Material Icons' }">
            <h2>Segmento do Veículo</h2>
            <alert type="primary" class="my-3">
                <strong>Dica!</strong> Escolha o segmento do veículo desejado para a aplicação da regra. Caso nenhum seja selecionado, o filtro por segmento de veículo é desabilitado.
Z
            </alert>
            <div class="types-card-container my-4">
                <label class="card" [class.active]="type.selected" *ngFor="let type of vehicleSegement"
                    (click)="toggleVehicleSegment(type)">
                    <div>
                        <i class="material-icon material-icons-outlined">{{ type.icon }}</i>
                    </div>
                    <h3>{{ type.label }}</h3>
                </label>
            </div>
            <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
        </aw-wizard-step>
        <ng-template #controlButtons let-last="last" let-first="first">
            <hr>
            <div class="d-flex justify-content-between my-2">
                <button class="btn btn-outline-danger" type="button" [class.hide]="first" awPreviousStep>Voltar</button>
                <button class="btn btn-outline-primary" type="button" *ngIf="!last" awNextStep>Próximo</button>
                <button class="btn btn-primary" type="button" *ngIf="last" (click)="save()">Salvar</button>
            </div>
        </ng-template>
    </aw-wizard>
</div>