@import "../../../../../../assets/styles/colors";

.types-card-container {
  display: flex;
  justify-content: space-evenly;
  .card {
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    color: #777;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    > div .material-icon {
      margin: 1rem 0;
      font-size: 7.5rem;
    }
    &.active {
      color: $secondary;
    }
  }
}
@media (max-width: 500px) {
  .types-card-container {
    .card {
      > div .material-icon {
        margin: 0.25rem 0;
        font-size: 4rem;
      }
      h3 {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
  