@import "../../../../assets/styles/colors";

.app-breadcrumb {
  display: flex;
  color: #777;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: auto;
  max-width: 100%;
  position: relative;
  z-index: 0;
  .app-breadcrumb-item {
    a {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
    }
    &::after {
      content: "chevron_right";
      font-family: "Material Icons";
      font-size: 1.5rem;
      vertical-align: middle;
      color: $secondary-light;
    }
    &:last-child {
      a {
        color: $terciary !important;
        cursor: default;
      }
      &::after {
        visibility: hidden;
      }
    }

    &:not(:last-child) {
      a {
        cursor: pointer;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
