<div class="d-md-flex">
  <app-sidebar></app-sidebar>
  <app-header></app-header>
  <div class="content-inner">
    <!--
    <app-breadcrumb></app-breadcrumb>
    -->
    <router-outlet></router-outlet>
  </div>
</div>
