<div class="container-table">
    <table class="table-planetun selectable">
        <th *ngFor="let column of columns">{{ column.name }}</th>
        <tbody>
            <tr *ngFor="let item of _data | paginate: { itemsPerPage: pageSize, currentPage: page }"
                (click)="toggleLine(item)" [class.selected]="item.$$selected">
                <td *ngFor="let col of columns">
                    {{ col.mask ? (item[col.field] | mask: col.mask) : item[col.field] }}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <pagination-controls previousLabel="Anterior" nextLabel="Próximo" (pageChange)="page = $event">
        </pagination-controls>
    </div>
</div>