<section #sidebar class="sidebar-wrapper">
  <aside class="sidebar shadow">
    <div class="content">
      <nav>
        <ul class="nav d-none d-sm-flex m-0">
          <li class="nav-item" *ngFor="let item of items" [class.opened]="item.opened" placement="left">
            <a class="nav-link" (click)="openItem(item)">
              <i class="material-icons material-icons-outlined" *ngIf="item.icon">{{ item.icon }}</i>
              <span>{{ item.label }}</span>
            </a>
          </li>
        </ul>
        <div class="d-sm-none menu-toggle" (click)="toggleSubmenuMobile()">
          <a tooltip="Menu">
            <i class="material-icons material-icons-outlined">menu</i>
          </a>
        </div>
      </nav>
      <!-- <div class="profile-link" tooltip="Meu Perfil" placement="left" (click)="openProfile()">
        <a><i class="material-icons material-icons-outlined">account_circle</i></a>
      </div> -->
    </div>
  </aside>

</section>
<div class="sidebar-wrapper-simulator" [class.show-submenu]="openedItem || openedSubmenuMobile"></div>