@import "../../../../assets/styles/colors";

$sidebar-width: 50px;
$sidebar-color: #454765;
$sidebar-font-color: #feffff;

.sidebar-wrapper {
  display: flex;
  flex-direction: row;
  position: fixed;

  .sidebar {
    width: $sidebar-width;
    height: 100vh;
    background: $sidebar-color;
    transition: 0.3s;
    position: relative;
    padding-top: 50px;

    .content {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .logo {
        padding: 15px 5px 5px;
        cursor: pointer;
        // img {
        //   width: 100%;
        //   background: $sidebar-font-color;
        //   border-radius: 5px;
        // }
        // display: flex;
        .logo-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .logo-fraction {
            width: 0.9rem;
            height: 0.9rem;
            background: white;
            border-radius: 100%;
            margin: 1px;
            &:nth-child(1) {
              background: $danger;
            }
            &:nth-child(2) {
              background: $warning;
            }
            &:nth-child(3) {
              background: $primary;
            }
          }
        }
        .logo-brand {
          color: $sidebar-font-color;
          font-weight: bolder;
          .capitalize {
            font-size: 2rem;
            line-height: 3rem;
          }
          :not(.capitalize) {
            display: none;
          }
        }
      }

      nav {
        flex: 1;

        .menu-toggle {
          a {
            cursor: pointer;
            display: inline-block;
            color: white;
            padding: 0.75rem;
          }
        }
      }
      .nav {
        margin: 0.5rem 0;
        flex-direction: column;
        .nav-item {
          width: $sidebar-width;
          cursor: pointer;
          font-size: 2.5rem;
          line-height: 1rem;
          color: $sidebar-font-color;
          .nav-link {
            padding: 0.75rem 0;
            transition: 0.2s;
            text-align: center;
            > .material-icons {
              font-size: 1.75rem;
              position: relative;
              z-index: 3;
              color: $sidebar-font-color;
            }
            > span {
              color: transparent;
              display: block;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              font-size: 0.925rem;
              // text-transform: uppercase;
              opacity: 0;
              position: absolute;
              margin-top: -35px;
              width: 200px;
              left: -200px;
              padding: 16px 0;
              font-weight: bold;
              background: darken($sidebar-color, 10%);
              transition: 0.2s;
              line-height: 1rem;
              
            }
            &:hover {
              background: darken($sidebar-color, 10%);
              > span {
                margin-right: 0;
                opacity: 1;
                color: $sidebar-font-color;
                left: $sidebar-width;
              }
            }
          }
        }
      }
      .profile-link {
        border-top: 1px solid transparentize($sidebar-font-color, 0.7);
        padding: 0.5rem 0;
        cursor: pointer;
        color: $sidebar-font-color;
        transition: 0.2s;
        text-align: center;
        * {
          font-size: 2rem;
        }
        &:hover {
          background: rgba(255, 255, 255, 0.15);
        }
      }
    }
  }

  // .sidebar-submenu {
  //   width: $sidebar-submenu-width;
  //   background: #e1e1e1;
  //   z-index: 1;
  //   margin-left: -$sidebar-submenu-width;
  //   transition: 0.5s ease-in-out;
  //   z-index: 10000;

  //   &.show-submenu {
  //     margin-left: 0;
  //   }

  //   .sidebar-submenu-title {
  //     display: flex;
  //     justify-content: space-between;
  //     border-bottom: 1px solid #ccc;
  //     margin-bottom: 1rem;
  //     .material-icons {
  //       vertical-align: bottom;
  //     }
  //     h4 {
  //       font-size: 1.25rem;
  //     }
  //   }

  //   .nav {
  //     .nav-link {
  //       cursor: pointer;
  //       .expand-icon {
  //         transition: 0.3s;
  //       }
  //       &.opened {
  //         .expand-icon {
  //           transform: rotate(90deg);
  //         }
  //       }
  //     }
  //   }
  // }
}

.sidebar-wrapper-simulator {
  width: $sidebar-width;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .sidebar-wrapper {
    flex-direction: column;
    .sidebar {
      flex-direction: row;
      height: 3.125rem;
      width: 100vw;
      .content {
        flex-direction: row;
        .logo {
          padding: 0.75rem;
          img {
            width: 20px;
          }
        }
        nav {
          .nav {
            flex-direction: row;
            margin: 0;
            .nav-link {
              padding: 0;
            }
          }
        }
        .profile-link {
          border: 0;
          .material-icons {
            vertical-align: sub;
          }
        }
      }
    }
    // .sidebar-submenu {
    //   margin-left: 0;
    //   margin-top: -100vh;
    //   width: 100vw;
    //   &.show-submenu {
    //     margin-top: 0;
    //   }
    // }
  }
  .sidebar-wrapper-simulator {
    width: 100vw;
    height: 50px;
  }
}
