<h2>Localização</h2>
<alert type="primary" class="my-3">
    <strong>Dica!</strong> Caso não queira habilitar as regras de localização, basta deixar os campos em
    branco, ou apertar o botão de resetar.
</alert>

<div [formGroup]="form" *ngIf="form">
    <label>Região</label>
    <div class="region-container">
        <label class="region card" [class.selected]="form.value.region === item.value" *ngFor="let item of regionTree">
            <input type="radio" formControlName="region" [value]="item.value"
                (change)="loadChildRegionLevel(item, 'state')">
            <h6 class="label">{{ item.label }}</h6>
        </label>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6" [hidden]="!stateList.length">
            <div class="form-group">
                <label for="">Estado</label>
                <ng-select placeholder="Selecione um estado" [items]="stateList" bindLabel="label" bindValue="value"
                    formControlName="state" (change)="loadChildRegionLevel($event, 'city')">
                </ng-select>
            </div>
        </div>
        <div class="col-12 col-md-6" [hidden]="!cityList.length">
            <div class="form-group">
                <label for="">Cidade</label>
                <ng-select placeholder="Selecione uma cidade" [items]="cityList" bindLabel="label" bindValue="value"
                    formControlName="city" (change)="loadChildRegionLevel($event, 'mesoregion')">
                </ng-select>
            </div>
        </div>
        <div class="col-12 col-md-6" [hidden]="!mesoregionList.length">
            <div class="form-group">
                <label for="">Mesorregião</label>
                <ng-select placeholder="Selecione uma cidade" [items]="mesoregionList" bindLabel="label" bindValue="value"
                    formControlName="mesoregion" (change)="loadChildRegionLevel($event, 'microregion')">
                </ng-select>
            </div>
        </div>
        <div class="col-12 col-md-6" [hidden]="!microregionList.length">
            <div class="form-group">
                <label for="">Microrregião</label>
                <ng-select placeholder="Selecione uma Microrregião" [items]="microregionList" bindLabel="label" bindValue="value"
                    formControlName="microregion">
                </ng-select>
            </div>
        </div>
    </div>

</div>