@import '../../../../../../../../assets/styles/colors';

.region-container {
    display: flex;
    .region {
        width: 20%;
        text-align: center;
        transition: .1s;
        padding: 1rem 0;
        color: #777;
        cursor: pointer;
        input[type=radio] {
            display: none;
        }
        &.selected {
            color: white;
            background: $secondary;
        }
        &:not(:last-child) {
            margin-right: 1rem;
        }
        .label {
            margin: 0;
            font-weight: normal;
        }
    }
}
