@import "../../../../assets/styles/colors";

.full-page-wrapper {
    background: rgb(255,165,77);
    background: linear-gradient(90deg, $terciary-light, $terciary 85%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}