<app-full-page-wrapper>
  <div class="card">
    <div class="card-body">
      <div class="header text-center">
        <img class="logo" src="../../../../assets/images/logo.png" alt="" class="logo mb-3" />
        <h1 class="text-center h3">Bem vindo(a) de volta!</h1>
      </div>
      <hr />
      <form (submit)="submit()" [formGroup]="form">

        <!-- <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Ex: aaaa@aaa.com"
          />
        </div>        -->

        <div class="form-group">
          <label for="document">Email</label>
          <input id="document" type="email" formControlName="email" class="form-control"
            placeholder="Ex: exemplo@email.com" />
        </div>

        <div class="form-group">
          <label for="password">Senha</label>
          <input id="password" type="password" formControlName="password" appPasswordInput class="form-control"
            placeholder="Informe sua senha" />
        </div>

        <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">
          Entrar
        </button>

        <div class="divider"></div>

        <a class="btn btn-link text-warning-dark btn-block text-center">Esqueci minha senha</a>
      </form>
    </div>
  </div>
</app-full-page-wrapper>