.logo {
  width: 200px;
}

.divider {
  position: relative;
  border-bottom: 1px solid #aaa;
  margin: 2.5rem 0 1.5rem;
  &::after {
    content: "ou";
    color: #777;
    background: white;
    position: absolute;
    left: 40%;
    right: 40%;
    text-align: center;
    top: -.75rem;
  }
}
