@import "../../../../assets/styles/colors";

.header-table {
  padding-top: 40px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.header-table div {
  display: flex;
}

.search-input,
.select-input {
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  font-family: "Poppins";
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
  font-size: 13px;
  margin-left: 10px;
  &:focus {
    outline: none;
    border-color: $primary-light;
    box-shadow: 0 0 10px $primary-light;
  }
}

// .search-input {
//   width: 400px;
// }

.input-search-group {
  position: relative;
  .search-icon {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}


.select-show {
  font-family: "Poppins";
  font-size: 11px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.sort {
  cursor: pointer;
  &.sort-asc > svg > path:first-child{
    fill: $primary;
  }
  &.sort-desc > svg > path:last-child{
    fill: $primary;
  }
}

.t-33 {
  width: 33%;
}
