/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,800;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");
@import "./assets/styles/colors";
@import "bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr";
@import "~@ng-select/ng-select/themes/default.theme.css";

// aw-wizard overwrite
aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator {
  li.done .step-indicator {
    border: 2px solid $primary;
    color: $primary;
  }
  li.optional .step-indicator {
    border: 2px solid $primary;
    color: $primary;
  }
  li.current .step-indicator {
    border: 2px solid $secondary;
    color: $secondary;
  }
}

$aw-colors: (
  "_": (
    "default": (
      "border-color-default": $primary,
      "background-color-default": $primary,
      "symbol-color-default": $primary,
      "border-color-hover": $primary,
      "background-color-hover": null,
      "symbol-color-hover": $primary,
    ),
    "done": (
      "border-color-default": $primary,
      "background-color-default": $primary,
      "symbol-color-default": $primary,
      "border-color-hover": $primary,
      "background-color-hover": null,
      "symbol-color-hover": $primary,
    ),
    "current": (
      "border-color-default": $secondary-light,
      "background-color-default": $secondary-light,
      "symbol-color-default": $secondary,
      "border-color-hover": $secondary,
      "background-color-hover": $secondary,
      "symbol-color-hover": $secondary,
    ),
  ),
);

@import "../node_modules/angular-archwizard/archwizard.scss";

html,
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  background: rgb(212, 213, 217);
  background: linear-gradient(
    90deg,
    rgba(212, 213, 217, 1) 0%,
    rgba(241, 242, 246, 1) 8%,
    rgba(241, 242, 246, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
.styled-font {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.card {
  border-radius: 0.5rem !important;
  border: none !important;
  padding: 0.4rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.bullet li a:before {
  font-family: "Material Icons";
  content: "\e5cc";
}

.mat-dialog-container{
  background: rgba(241, 242, 246, 1);
}

.material-icons {
  vertical-align: middle;
}

h1 {
  font-weight: 900;
  color: $primary;
}

.content-inner {
  padding: 1rem 2rem;
  box-sizing: border-box;
  width: 100%;
}
.separator {
  width: 100%;
  height: 2px;
  background-color: #cbced6;
  position: relative;
  left: 0px;
  margin-top: 0.5rem;
  border-bottom: 1px solid #fff;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
  outline: none;
}

.ngx-pagination {
  padding: 0px;
  margin-top: 20px;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 500;
  a {
    outline: none;
  }
  li {
    border-radius: 6px !important;
  }
}

.register-button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Poppins";
  font-size: 11px;
  background: rgb(252, 137, 25);
  background: linear-gradient(
    93deg,
    rgba(252, 137, 25, 1) 0%,
    rgba(254, 98, 12, 1) 100%
  );
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover {
    outline: none;
    border-color: rgb(252, 137, 25);
    box-shadow: 0 0 10px rgb(252, 137, 25);
  }
}

aw-wizard {
  aw-wizard-navigation-bar.horizontal.large-empty-symbols
    ul.steps-indicator
    li
    .step-indicator {
    font-size: 1.75rem;
  }
  aw-wizard-step {
    padding: 1rem 0;
  }
}


.send-button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Poppins";
  font-size: 13px;
  background: rgb(9,157,135);
background: linear-gradient(93deg, rgba(9,157,135,1) 0%, rgba(34,130,61,1) 100%);
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.send-button:hover {
  outline: none;
  border-color: rgb(12, 254, 218);
  box-shadow: 0 0 10px rgb(12, 254, 218);
}

.btn-style-planetun{
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  font-family: "Poppins";
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
html, body { height: 100%; }
body { margin: 0; font-family: "Noto Sans JP", sans-serif; }
  
.container-table {
  margin-top: 30px;
  table {
    width: 100%;
  }
  th {
    color: #8b8b8b;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 500;
    padding: 15px;
  }
}


.table-planetun {
  td {
    background: rgb(241, 242, 246);
    background: linear-gradient(
      0deg,
      rgba(241, 242, 246, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
    color: $primary;
    &:first-child {
      border-left-style: solid #fff;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-child {
      border-right-style: solid #fff;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  &.selectable {
    tbody tr {
      cursor: pointer;
      &:hover td {
        background: rgb(151, 158, 187);
        background: linear-gradient(
          0deg,
          rgb(220, 225, 243) 0%,
          rgba(255, 255, 255, 1) 100%
        );
      }
      &.selected {
        td {
          background: rgb(151, 158, 187);
          background: linear-gradient(
            0deg,
            transparentize($primary-light, 0.8) 0%,
            transparentize($primary-light, 0.9) 100%
          );
        }
      }
    }
  }
}

@media (max-width: 767px) {
  html,
  body {
    font-size: 12px;
  }
  .content-inner {
    padding: 1rem;
  }

  aw-wizard-navigation-bar ul.steps-indicator li a .label {
    font-size: 1rem;
  }
}
