$primary: #00A153;
$primary-light: lighten($primary, .2);
$secondary: #343a40; 
$secondary-dark: darken($secondary, .2); 
$secondary-light: lighten($secondary, .2);
$terciary: #76BED0;
$terciary-light: #BBDFE8;

$warning: #F7CB15;
$warning-light: lighten($warning, .2);
$warning-dark: #ff9e1b;
$danger: #F55D3E;
$danger-light: lighten($danger, .2);

$theme-colors: (
    primary: $primary,
    primary-light: $primary-light,
    secondary: $secondary,
    secondary-dark: $secondary-dark,
    secondary-light: $secondary-light,
    terciary: $terciary,
    warning: $warning,
    warning-light: $warning-light,
    warning-dark: $warning-dark,
    danger: $danger,
    danger-light: $danger-light,
);
