<nav class="navbar fixed-top shadow d-flex justify-content-between">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/logo.png" alt="" loading="lazy">
    </a>
    <div class="profile-link" tooltip="Meu Perfil" placement="right" (click)="openProfile()">
        <span>Joãozinho</span>
        <a class="align-text-top"><i class="material-icons material-icons-outlined">account_circle</i></a>
    </div>
</nav>