@import "../../../../assets/styles/colors";

nav.navbar {
  height: 50px;
  z-index: 2;
  background: #feffff;
  padding: 0 0.5rem;
  .navbar-brand img {
    height: 40px;
  }
  .profile-link {
    cursor: pointer;
    a {
      color: $terciary;
      &:hover {
        color: $terciary-light;
      }
    }
  }
}
