<div>
    <app-breadcrumb></app-breadcrumb>
    <h1>Regras de Distribuição</h1>
    <div class="separator"></div>
    <app-grid [columns]="columns" [data]="data" btnLabel="Criar Novo" (btnClick)="navigateToNew()"></app-grid>
</div>